body {
    background-color: rgb(184, 82, 82);
}
h1 {
    color: black;
}

caption {
    color: black;
}

th {
    color: rgb(0, 0, 0);
}

tr th {
    background: yellow;
}

tr td {
    background: white;
}
